* { margin: 0; padding: 0; }
body{font:normal 14px "Trebuchet MS",Arial,Helvetica,sans-serif; background: url("images/logoOC.png") no-repeat 50% 300px #4c4c4c; color: #d9d9d9;}
header{display:block;top:0px;float:left;height:40px;left:0;position:fixed;width:100%;background-color:#030303;}
#logo{float:left;margin:12px 30px 0 40px;}
#menu{float:left;position:relative;}
#menu ul{float:left;list-style:none;margin:0;}
#menu ul li{float:left;margin:0;position:relative;display:block;font-size:14px;font-weight:bold;height:38px;margin:0; outline:none;padding:12px 15px 0 15px;text-transform:uppercase;color:#eee;cursor:pointer;}
#menu ul li a{text-decoration:none;color:white;outline:none;}
#menu ul li a:hover{color:gold;}
#menu ul li ul{position:absolute;float:left;visibility:hidden;top:30px;width:160px;padding-top:20px; left:25px; background:url(images/coin_haut.png) no-repeat left top;}
#menu ul li:hover>ul {visibility:visible;}
#menu ul li ul li{margin:0!important;display:block;float:none!important;position:relative;background:rgba(102,102,102,0.7);font:normal 10px "Trebuchet MS",Arial,Helvetica,sans-serif;height:auto;padding:5px 15px;}
#menu ul li ul li:first-child {
	-webkit-border-top-right-radius:9px;-moz-border-radius-topright:9px;border-top-right-radius:9px}
#menu ul li ul li:last-child {
	-webkit-border-bottom-left-radius: 9px;-moz-border-radius-bottomleft: 9px;border-bottom-left-radius: 9px;
	-webkit-border-bottom-right-radius: 9px;-moz-border-radius-tbottomright: 9px;border-bottom-right-radius: 9px;}

#menu ul li ul li ul{left:160px;top:10px;padding-left:9px;padding-top:0;margin:0;background:url(images/coin_g.png) no-repeat top left;}
